* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main-page {
    background-color: #C4C4C4;
}

.container {
    max-width: 1200px;
    height: 710px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 50px;
}

nav ul {
    margin-top: 62px;
}
nav ul li {
    display: inline-block;
    text-decoration: none;

}

nav ul li a {
    text-decoration: none;
    padding: 10px 25px;
    color: white;
    margin: 5px;
}

nav ul li a:hover {
    color: black;
}

nav ul i {
    color: white;
}
.navigation ul li:last-child a{
    background-color: black;
    border-radius: 25px;
    color: white;
}

h1 {
    position: absolute;
    left: 170px;
    right: 700px;
    top: 220px;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 110px;
    color: white;
}

h2 {
    position: absolute;
    left: 170px;
    right: 920px;
    top: 470px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #CFCFCF;
}

.navigation {
    position: absolute;
    top: 510px;
    right: 850px;
    left: 170px;
}

.navigation ul {
    border: 1px solid #CBCACA;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
    border-radius: 72px;
    background-color: #FFFFFF;
    height: 50px;
    padding-top: 10px;
}

.navigation ul li a {
    color: #CBCACA;
    font-size: 14px;
}

h3 {
    position: absolute;
    top: 130px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    color: #ECECEC;
}

h4 {
    position: absolute;
    width: 740px;
    height: 134.94px;
    left: 386px;
    top: 1038px;
}

.container2 .explore-new {
    position: relative;
}

.container2 .explore-new h2 {
    position: absolute;
    top: 80px;
    left: 380px;
    color: black;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    width: 740px;
    height: 150px;
}

.container2 .explore-new>h3 {
    font-size: 20px;
    top: 250px;
    left: 460px;
    font-size: 18px;
    color: #878787;
}

.container2 .explore-new .place {
    display: flex;
}

.container2 .explore-new .place .place1 {
    position: absolute;
    width: 350px;
    height: 361px;
    top: 310px;
    left: 160px;
    background-color: #C4C4C4;
    border-radius: 10px;
}

.container2 .explore-new .place .place2 {
    position: absolute;
    width: 350px;
    height: 472px;
    top: 310px;
    left: 530px;
    background-color: #C4C4C4;
    border-radius: 10px;

}

.container2 .explore-new .place .place3 {
    position: absolute;
    width: 350px;
    height: 361px;
    top: 310px;
    left: 900px;
    background-color: #C4C4C4;
    border-radius: 10px;
}
@media screen and (max-width: 984px) {
    body{
        width: 100%;
    }
}